<div class="col">
  <h1>Homes#top</h1>
<div class="row">
<div class="col-3" style="width: 100px; height: 100px; background-color: #120136"></div>
<div class="col-3" style="width: 100px; height: 100px; background-color: #035aa6"></div>
<div class="col-3" style="width: 100px; height: 100px; background-color: #40bad5"></div>
<div class="col-3" style="width: 100px; height: 100px; background-color: #fcbf1e"></div>
</div>
</div>